@charset "utf-8";

.admin-select{
    width:200px;
    margin-top:30px;
}

.admin-item{
    margin-top:30px
}

.admin-title{
    width:500px;
}

.admin-text{
    width:600px;
    height:200px;
}

input[type="submit"]{
    display: block;
    margin-top:30px;
    width:100px;
    border:1px solid green;
    border-radius:4px;
    padding:12px;
    font-size:14px;
    line-height:1;
    color:white;
    background-color: green;
}


