@charset "utf-8";

.atama{
    display: flex;
}

.show-date{
    font-size:20px;
    position:absolute;
    right:0;
    margin-right:8%;
    margin-top:75px;
}

.back{
    color:white;
    font-size:40px;
}

.show-title{
    color:white;
    font-size:30px;
    margin-left: 15px;
}

.show-text{
    background-color: white;
    color:black;
    flex-wrap:wrap;
    max-width:1000px;
    overflow:hidden;
    height:auto;
    min-height: 150px;
    margin:0 auto;
    margin-top:20px;
    border-radius:6px;
    padding:20px;
}
